@use "variables";
@use "mixins";

body{
    min-height: 100vh;
    font-size: 1.6rem;
    background: map-get(variables.$baseVars, "background");
    color: map-get(variables.$baseVars, "color");
    font-family: map-get(variables.$baseVars, "font");
    margin: 0 !important;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 4rem;
    padding: 2rem 35rem;
    min-height: calc(100vh - 10rem - 7rem);
}