@use "variables";
@use "mixins";

body{
    min-height: 100vh;
    font-size: 1.6rem;
    background: map-get(variables.$baseVars, "background");
    color: map-get(variables.$baseVars, "color");
    font-family: map-get(variables.$baseVars, "font");
}

.main{
    @include mixins.flexBox;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem 35rem;
}