@use "variables";
@use "mixins";

.heading{
    width: 100%;
    font-size: 1.3rem;
    color: map-get(variables.$baseVars, "greycolor");
    border-bottom: 0.1rem solid map-get(variables.$baseVars, "darkgrey");
    font-weight: normal;
    letter-spacing: 0.075rem;
    padding-bottom: 0.4rem;

    &__link{
        position: absolute;
        top: 0.3rem;
        right: 0;
        color: map-get(variables.$baseVars, "icongrey");
        font-size: 1.1rem;
        text-decoration: none;

        &:hover{
            color: map-get(variables.$baseVars, "blue");
        }
    }

    &__button{
        position: absolute;
        top: 0.3rem;
        right: 0;
        color: map-get(variables.$baseVars, "icongrey");
        font-size: 1.1rem;
        background: none;
        border: none;

        &:hover{
            color: map-get(variables.$baseVars, "blue");
        }
    }
}

.type{
    position: absolute;
    bottom: 0;
    right: 0;
    background: map-get(variables.$baseVars, "lightcolor");
    padding: 0.4rem 1rem;
    color: map-get(variables.$baseVars, "color");
    text-decoration: none;
    font-weight: 600;
    border-radius: 0.1rem;
    margin: 1rem;
}

.tag{
    background: map-get(variables.$baseVars, "darkgrey");
    font-size: 80%;
    padding: 0.4rem 0.8rem;
    border-radius: 0.2rem;
    box-shadow: inset 0 0.1rem 0 rgba(map-get(variables.$baseVars, "color"), 0.2);
    color: map-get(variables.$baseVars, "cancelcolor");
}

.pagination{
    position: relative;
    width: 100%;
    border-top: 0.1rem solid map-get(variables.$baseVars, "darkgrey");
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link{
        margin-top: 1rem;
        background: map-get(variables.$baseVars, "greybutton");
        font-size: 75%;
        padding: 0.9rem 1.5rem;
        color: map-get(variables.$baseVars, "greycolor");
        text-decoration: none;
        border-radius: 0.4rem;
        box-shadow: inset 0 0.1rem 0 rgba(map-get(variables.$baseVars, "color"), 0.05);

        &--disabled{
            opacity: 0;
        }
    }

    &__wrapper{
        @include mixins.flexBox;
        margin-top: 1rem;
    }

    &__number{
        padding: 1rem;
        text-decoration: none;
        color: map-get(variables.$baseVars, "greycolor");
        
        &:hover{
            color: map-get(variables.$baseVars, "lightbluecolor");
            background: map-get(variables.$baseVars, "hovergrey");
        }

        &--active{
            color: map-get(variables.$baseVars, "blurcolor");

            &:hover{
                color: map-get(variables.$baseVars, "blurcolor");
                background: none;
            }
        }
    }
}

.greenbutton{
    background: map-get(variables.$baseVars, "green");
    border: none;
    color: map-get(variables.$baseVars, "color");
    font-family: inherit;
    font-weight: 600;
    padding: 0.8rem 1.4rem;
    border-radius: 0.3rem;

    &:disabled{
        opacity: 0.5;
    }
}

.checkbox{
    @include mixins.flexBox;
    gap: 1rem;
    position: relative;
    color: map-get(variables.$baseVars, "lightbluecolor");

    &__input{
        appearance: none;
        width: 2rem;
        aspect-ratio: 1/1;
        background: map-get(variables.$baseVars, "authinput");
        border-radius: 0.2rem;

        &:focus{
            outline: none;
        }

        &:checked ~ .checkbox__mark::after{
            display: block;
        }
    }

    &__mark{
        position: absolute;
        top: 0;
        left: 0;

        &::after{
            content: "";
            position: absolute;
            top: 0.2rem;
            left: 0.7rem;
            border: solid map-get(variables.$baseVars, "blurcolor");
            border-width: 0 0.2rem 0.2rem 0;
            transform: rotate(45deg);
            width: 0.6rem;
            height: 1.3rem;
            display: none;

        }
    }
}

.poster{
    width: 100%;
    border-radius: 0.4rem;
    position: relative;
    height: 100%;

    &:hover &__overlay{
        cursor: pointer;
        opacity: 1;
    }

    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.4rem;
        border: 0.1rem solid rgba(map-get(variables.$baseVars, "color"), 0.2);
    }

    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        box-shadow: inset 0.3rem 0.3rem 0rem map-get(variables.$baseVars, "green"), inset -0.3rem -0.3rem 0 map-get(variables.$baseVars, "green");
        overflow: hidden;
        border-radius: 0.4rem;
        opacity: 0;
        transition: 0.4s all;
    }
}

.dropdown{
    position: absolute;
    top: 0;
    left: 0;
    background: map-get(variables.$baseVars, "lightcolor");
    border-radius: 0.4rem;
    width: 15rem;
    padding: 0.4rem 0;
    display: none;

    &__item{
        color: map-get(variables.$baseVars, "bluegrey");
        font-size: 80%;
        font-family: inherit;
        padding: 1rem 0.8rem;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        background: none;
        border: none;

        &:hover{
            background: map-get(variables.$baseVars, "icongrey");
            color: map-get(variables.$baseVars, "color");
        }

    }
}

.shadowinput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.8rem;
    width: 100%;

    &__label{
        font-size: 80%;
    }

    &__input{
        width: 100%;
        border: none;
        box-shadow: inset 0 -0.2rem 0 map-get(variables.$baseVars, "darkgrey");
        border-radius: 0.4rem;
        background: map-get(variables.$baseVars, "inputgrey");
        font-size: 90%;
        padding: 0.7rem;
        color: map-get(variables.$baseVars, "lightcolor");
        font-family: map-get(variables.$baseVars, "font");

        &::placeholder{
            color: map-get(variables.$baseVars, "darkgrey");
        }

        &:focus{
            background: map-get(variables.$baseVars, "color");
            color: map-get(variables.$baseVars, "darkcolor");
            outline: none;
            box-shadow: none;

            &::placeholder{
                color: map-get(variables.$baseVars, "lightcolor");
            }
        }
    }
}