@use "variables";
@use "mixins";

.heading{
    width: 100%;
    font-size: 1.3rem;
    color: map-get(variables.$baseVars, "greycolor");
    border-bottom: 0.1rem solid map-get(variables.$baseVars, "darkgrey");
    font-weight: normal;
    letter-spacing: 0.075rem;
    padding-bottom: 0.4rem;

    &__link{
        position: absolute;
        top: 0.3rem;
        right: 0;
        color: map-get(variables.$baseVars, "icongrey");
        font-size: 1.1rem;
        text-decoration: none;

        &:hover{
            color: map-get(variables.$baseVars, "blue");
        }
    }

    &__button{
        position: absolute;
        top: 0.3rem;
        right: 0;
        color: map-get(variables.$baseVars, "icongrey");
        font-size: 1.1rem;
        background: none;
        border: none;

        &:hover{
            color: map-get(variables.$baseVars, "blue");
        }
    }
}

.type{
    position: absolute;
    bottom: 0;
    right: 0;
    background: map-get(variables.$baseVars, "lightcolor");
    padding: 0.4rem 1rem;
    color: map-get(variables.$baseVars, "color");
    text-decoration: none;
    font-weight: 600;
    border-radius: 0.1rem;
    margin: 1rem;
}

.tag{
    background: map-get(variables.$baseVars, "darkgrey");
    font-size: 80%;
    padding: 0.4rem 0.8rem;
    border-radius: 0.2rem;
    box-shadow: inset 0 0.1rem 0 rgba(map-get(variables.$baseVars, "color"), 0.2);
    color: map-get(variables.$baseVars, "cancelcolor");
}

.pagination{
    position: relative;
    width: 100%;
    border-top: 0.1rem solid map-get(variables.$baseVars, "darkgrey");
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link{
        margin-top: 1rem;
        background: map-get(variables.$baseVars, "greybutton");
        font-size: 75%;
        padding: 0.9rem 1.5rem;
        color: map-get(variables.$baseVars, "greycolor");
        text-decoration: none;
        border-radius: 0.4rem;
        box-shadow: inset 0 0.1rem 0 rgba(map-get(variables.$baseVars, "color"), 0.05);

        &--disabled{
            opacity: 0;
        }
    }

    &__wrapper{
        @include mixins.flexBox;
        margin-top: 1rem;
    }

    &__number{
        padding: 1rem;
        text-decoration: none;
        color: map-get(variables.$baseVars, "greycolor");
        
        &:hover{
            color: map-get(variables.$baseVars, "lightbluecolor");
            background: map-get(variables.$baseVars, "hovergrey");
        }

        &--active{
            color: map-get(variables.$baseVars, "blurcolor");

            &:hover{
                color: map-get(variables.$baseVars, "blurcolor");
                background: none;
            }
        }
    }
}

.greenbutton{
    background: map-get(variables.$baseVars, "green");
    border: none;
    color: map-get(variables.$baseVars, "color");
    font-family: inherit;
    font-weight: 600;
    padding: 0.8rem 1.4rem;
    border-radius: 0.3rem;

    &__isGrey{
        background: map-get(variables.$baseVars, "cancelgrey");
        color: map-get(variables.$baseVars, "cancelcolor");
    }

    &:disabled{
        opacity: 0.5;
    }
}

.checkbox{
    @include mixins.flexBox;
    gap: 1rem;
    position: relative;
    color: map-get(variables.$baseVars, "lightbluecolor");

    &__input{
        appearance: none;
        width: 2rem;
        aspect-ratio: 1/1;
        background: map-get(variables.$baseVars, "authinput");
        border-radius: 0.2rem;

        &:focus{
            outline: none;
        }

        &:checked ~ .checkbox__mark::after{
            display: block;
        }
    }

    &__mark{
        position: absolute;
        top: 0;
        left: 0;

        &::after{
            content: "";
            position: absolute;
            top: 0.2rem;
            left: 0.7rem;
            border: solid map-get(variables.$baseVars, "blurcolor");
            border-width: 0 0.2rem 0.2rem 0;
            transform: rotate(45deg);
            width: 0.6rem;
            height: 1.3rem;
            display: none;

        }
    }
}

.poster{
    width: 100%;
    border-radius: 0.4rem;
    position: relative;
    aspect-ratio: 2 / 3;

    &:hover &__overlay{
        cursor: pointer;
        opacity: 1;
    }

    &__image{
        width: 100%;
        aspect-ratio: 2 / 3;
        object-fit: cover;
        border-radius: 0.4rem;
        border: 0.1rem solid rgba(map-get(variables.$baseVars, "color"), 0.2);
    }

    &__empty{
        @include mixins.flexBox;
        width: 100%;
        height: 100%;
        background: map-get(variables.$baseVars, "emptyposter");
        color: map-get(variables.$baseVars, "numbercolor");
        border-radius: 0.4rem;
        border: 0.1rem solid rgba(map-get(variables.$baseVars, "color"), 0.2);
        font-size: smaller;
        font-weight: 600;
        text-align: center;
        text-overflow: ellipsis;
        
    }

    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        box-shadow: inset 0.3rem 0.3rem 0rem map-get(variables.$baseVars, "green"), inset -0.3rem -0.3rem 0 map-get(variables.$baseVars, "green");
        overflow: hidden;
        border-radius: 0.4rem;
        opacity: 0;
        transition: 0.4s all;
    }
}

.dropdown{
    position: absolute;
    top: 0;
    left: 0;
    background: map-get(variables.$baseVars, "lightcolor");
    border-radius: 0.4rem;
    width: 15rem;
    padding: 0.4rem 0;
    display: none;

    &__item{
        color: map-get(variables.$baseVars, "bluegrey");
        font-size: 80%;
        font-family: inherit;
        padding: 1rem 0.8rem;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        background: none;
        border: none;

        &:hover{
            background: map-get(variables.$baseVars, "icongrey");
            color: map-get(variables.$baseVars, "color");
        }

    }
}

.shadowinput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.8rem;
    width: 100%;

    &__label{
        font-size: 80%;
    }

    &__input{
        width: 100%;
        border: none;
        box-shadow: inset 0 -0.2rem 0 map-get(variables.$baseVars, "darkgrey");
        border-radius: 0.4rem;
        background: map-get(variables.$baseVars, "inputgrey");
        font-size: 90%;
        padding: 0.7rem;
        color: map-get(variables.$baseVars, "lightcolor");
        font-family: map-get(variables.$baseVars, "font");

        &--white{
            background: map-get(variables.$baseVars, "authinput");
            color: map-get(variables.$baseVars, "blurcolor");
            font-size: 100%;
            padding: 0.6rem;
            box-shadow: inset 0 -0.1rem 0 map-get(variables.$baseVars, "color");
            &:focus{
                outline: none;
                background: map-get(variables.$baseVars, "color");
                color: map-get(variables.$baseVars, "inputgrey");
            }
        }

        &::placeholder{
            color: map-get(variables.$baseVars, "darkgrey");
        }

        &:focus{
            background: map-get(variables.$baseVars, "color");
            color: map-get(variables.$baseVars, "darkcolor");
            outline: none;
            box-shadow: none;

            &::placeholder{
                color: map-get(variables.$baseVars, "lightcolor");
            }
        }
    }
}

.greyinput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.6rem;
    width: 100%;

    &__label{
        color: map-get(variables.$baseVars, "grey");
        font-size: 90%;
        @include mixins.flexBox;
        gap: 0.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &--button{
            background: none;
            border: none;
            font-family: inherit;
            color: map-get(variables.$baseVars, "icongrey");
            font-size: 80%;

            &:hover{
                cursor: pointer;
                color: map-get(variables.$baseVars, "blue");
            }
            &:focus{
                outline: none;
            }
        }
    }

    &__input{
        width: 100%;
        border: none;
        background: map-get(variables.$baseVars, "darkgrey");
        font-size: 100%;
        padding: 0.8rem;
        border-radius: 0.2rem;
        color: map-get(variables.$baseVars, "grey");
        font-family: map-get(variables.$baseVars, "font");

        &:focus{
            background: map-get(variables.$baseVars, "color");
            outline: none;
            color: map-get(variables.$baseVars, "black");
        }
    }
}

.backdrop{
    width: 100%;
    height: 67.5rem;
    position: absolute;
    top: 0;
    z-index: -10;
    padding: 0 25rem;
    
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        height: 100%;
        width: 71%;
        background-image: linear-gradient(to right,#14181d,rgba(20,24,29,.984) .97%,rgba(20,24,29,.945) 2.07833333%,rgba(20,24,29,.882) 3.29666667%,rgba(20,24,29,.804) 4.60166667%,rgba(20,24,29,.71) 5.96666667%,rgba(20,24,29,.608),rgba(20,24,29,.5),rgba(20,24,29,.396) 10.16%,rgba(20,24,29,.294) 11.505%,rgba(20,24,29,.204) 12.78%,rgba(20,24,29,.12) 13.95833333%,rgba(20,24,29,.06) 15.01666667%,rgba(20,24,29,.016) 15.92833333%,rgba(20,24,29,0) 16.66666667%,rgba(20,24,29,0) 83.33333333%,rgba(20,24,29,.016) 84.07166667%,rgba(20,24,29,.06) 84.98333333%,rgba(20,24,29,.12) 86.04166667%,rgba(20,24,29,.204) 87.22%,rgba(20,24,29,.294) 88.495%,rgba(20,24,29,.396) 89.84%,rgba(20,24,29,.5),rgba(20,24,29,.608),rgba(20,24,29,.71) 94.03333333%,rgba(20,24,29,.804) 95.39833333%,rgba(20,24,29,.882) 96.70333333%,rgba(20,24,29,.945) 97.92166667%,rgba(20,24,29,.984) 99.03%,#14181d),linear-gradient(to top,#14181d,#14181d 21.48148148%,rgba(20,24,29,.984) 23.63703704%,rgba(20,24,29,.945) 26.1%,rgba(20,24,29,.882) 28.80740741%,rgba(20,24,29,.804) 31.70740741%,rgba(20,24,29,.71) 34.74074074%,rgba(20,24,29,.608),rgba(20,24,29,.5) 40.97407407%,rgba(20,24,29,.396) 44.05925926%,rgba(20,24,29,.294) 47.04814815%,rgba(20,24,29,.204) 49.88148148%,rgba(20,24,29,.12) 52.5%,rgba(20,24,29,.06) 54.85185185%,rgba(20,24,29,.016) 56.87777778%,rgba(20,24,29,0) 58.51851852%);
    }

    &__image{
        background-position: center 0;
        height: 100%;
        width: 100%;
        background-size: cover;
    }
}


.rating{
    &__small{
        &--0{
            width: 0;
        }
        &--1{
            width: 0.8rem;
            background-position: -4.5rem -17rem;
        }
        &--2{
            width: 0.8rem;
        }
        &--3{
            width: 1.7rem;
            background-position: -3.6rem -17rem;
        }
        &--4{
            width: 1.7rem;
        }
        &--5{
            width: 2.6rem;
            background-position: -2.7rem -17rem;
        }
        &--6{
            width: 2.6rem;
        }
        &--7{
            width: 3.5rem;
            background-position: -1.8rem -17rem;
        }
        &--8{
            width: 3.5rem;
        }
        &--9{
            width: 4.5rem;
            background-position: -0.8rem -17rem;
        }
        &--10{
            width: 4.4rem;
        }
    }
    &__tiny{
        width: 1rem;
        height: 1rem;
        background: url('/public/images/sprite.svg') no-repeat -39rem -18rem;
    }
    &__0{
        width: 0;
    }
    &__1{
        width: 1.3rem;
        background-position: -35.5rem -9rem;
        &--small{
            width: 0.8rem;
            background-position: -4.5rem -17rem;
        }
        &--tiny{
            width: 1.1rem;
            background-position: -44.5rem -18rem;
        }
    }
    &__2{
        width: 1.2rem;
        &--small{
            width: 0.8rem;
        }
        &--tiny{
            width: 1rem;
        }
    }
    &__3{
        width: 2.6rem;
        background-position: -34.2rem -9rem;
        &--small{
            width: 1.7rem;
            background-position: -3.6rem -17rem;
        }
        &--tiny{
            width: 2.2rem;
            background-position: -43.4rem -18rem;
        }
    }
    &__4{
        width: 2.5rem;
        &--small{
            width: 1.7rem;
        }
        &--tiny{
            width: 2.1rem;
        }
    }
    &__5{
        width: 3.9rem;
        background-position: -32.9rem -9rem;
        &--small{
            width: 2.6rem;
            background-position: -2.7rem -17rem;
        }
        &--tiny{
            width: 3.3rem;
            background-position: -42.3rem -18rem;
        }
    }
    &__6{
        width: 3.8rem;
        &--small{
            width: 2.6rem;
        }
        &--tiny{
            width: 3.2rem;
        }
    }
    &__7{
        width: 5.2rem;
        background-position: -31.6rem -9rem;
        &--small{
            width: 3.5rem;
            background-position: -1.8rem -17rem;
        }
        &--tiny{
            width: 4.4rem;
            background-position: -41.2rem -18rem;
        }
    }
    &__8{
        width: 5.1rem;
        &--small{
            width: 3.5rem;
        }
        &--tiny{
            width: 4.3rem;
        }
    }
    &__9{
        width: 6.5rem;
        background-position: -30.3rem -9rem;
        &--small{
            width: 4.5rem;
            background-position: -0.8rem -17rem;
        }
        &--tiny{
            width: 5.5rem;
            background-position: -40.1rem -18rem;
        }
    }
    &__10{
        width: 6.4rem;
        &--small{
            width: 4.4rem;
        }
        &--tiny{
            width: 5.4rem;
        }
    }
}
