@use "variables";
@use "mixins";

.markdown{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;

    & img{
        width: 100%;
    }

    & a{
        color: inherit;
        text-decoration-color: map-get(variables.$baseVars, "lightblue");

        &:hover{
            color: map-get(variables.$baseVars, "lightblue");
        }
    }

    &__caption{
        font-size: 80%;
    }
}