@use "variables";
//4K 2560px
@media screen and (min-width: 160rem) {
    // .main__auth{
    //     // background: red;
    // }
    .auth{
        height: 60rem;
        font-size: 200%;
    }
}

//my screen (macbook something air ig)
@media screen and (min-width: 106.875rem) {
}

//1560px responsive
@media screen and (max-width: 97.5rem) {
    .backdrop{
        width: 100%;
        padding: 0;

        &::before{
            width: 100%;
        }
    }
}

//1500px responsive
@media screen and (max-width: 93.75rem) { 
    .film{
        padding: 0 25rem;
    }
    .homeposts{
        &__item{
            &--figure{
                height: 15rem;
            }
        }
    }
}

//responsive screen 92rem
@media screen and (max-width: 92rem) {
    .posts{
        &__item{
            font-size: 80%;
            height: 20rem;

            &--user{
                &-avatar{
                    width: 2rem;
                }
            }
        }
    }
    .movie{
        &__modal{
            width: 70%;
        }
    }
}

//responsive screen 82rem
@media screen and (max-width: 83.5rem) {
    .header{
        padding: 2rem 20rem;
    }
    .construction__banner{
        padding: 1rem 20rem;
    }
    .homeposts{
        &__item{
            &--figure{
                height: 15rem;
            }
        }
    }
    .auth{
        &__figure{
            display: none;
        }
        &__form{
            width: 100%;
        }
    }
    .main{
        padding: 2rem 20rem;
    }
    .post{
        padding: 0 10rem;
        &__heading{
            padding: 4rem 20rem 5rem 20rem;
        }
        &__wrapper{
            margin-top: -3rem;
        }
    }
    
    .backdrop{
        height: 50rem;
    }

    .profile{
        &__hasBackdrop{
            padding-top: 25rem;
        }
    }

    .film{
        padding: 0 15rem;
    }
}

//1120px
@media screen and (max-width: 70rem) {
    .main__auth{
        padding: 0 30rem;
    }
}

//1040px
@media screen and (max-width: 65rem) {
    .posts{
        &__item{
            &--text{
                font-size: 120%;
            }
        }
    }
}

//1000px
@media screen and (max-width: 62.5rem) {
    .main__auth{
        padding: 0 15rem;
    }
    .main{
        padding: 4rem 10rem;
    }
    .header{
        padding: 2rem 10rem;
        &__navigation{

            &--dropdown{
                width: 14rem;
                left: auto;
                right: 0;
            }
        }
    }
    .construction__banner{
        padding: 1rem 10rem;
    }
    .homeposts{
        &__item{
            &--figure{
                height: 15rem;
            }
        }
    }
    .post{
        padding: 0 5rem;

        &__heading{
            padding: 4rem 10rem 5rem 10rem;
        }
    }
    .backdrop{
        width: 100%;
        padding: 0;

        &::before{
            background-image: linear-gradient(to top,#14181d,#14181d 21.48148148%,rgba(20,24,29,.984) 23.63703704%,rgba(20,24,29,.945) 26.1%,rgba(20,24,29,.882) 28.80740741%,rgba(20,24,29,.804) 31.70740741%,rgba(20,24,29,.71) 34.74074074%,rgba(20,24,29,.608),rgba(20,24,29,.5) 40.97407407%,rgba(20,24,29,.396) 44.05925926%,rgba(20,24,29,.294) 47.04814815%,rgba(20,24,29,.204) 49.88148148%,rgba(20,24,29,.12) 52.5%,rgba(20,24,29,.06) 54.85185185%,rgba(20,24,29,.016) 56.87777778%,rgba(20,24,29,0) 58.51851852%);
        }
    }
    .film{
        padding: 0 2rem;
    }
    .profile{
        &__hasBackdrop{
            padding-top: 20rem;
        }
    }
    .movie{
        &__modal{
            width: 80%;

            &--wrapper{
                flex-wrap: wrap;
                gap: 1rem;
            }
        }
    }
}

//ipad air
@media screen and (max-width: 52rem){
    .main__auth{
        padding: 0 10rem;
    }
    .homeposts{
        &__item{
            &--figure{
                height: 12rem;
            }
        }
    }

    .posts{
        &__item{
            font-size: 70%;
        }
    }
    
    .settings{
        &__favorites{
            width: 50%;
        }
    }

    .favorite__modal{
        width: 60%;

        &--dropdown{
            width: 100%;
        }
    }

    .post{
        padding: 0;

        &__wrapper{
            margin-top: -2rem;
        }
    }
    .film{
        flex-direction: row-reverse;
        &__wrapper{
            flex-direction: column;
            gap: 1rem;
        }
        &__details{
            width: 100%;
        }
        &__sidebar{
            width: 100%;
        }
    }
}

//responsive 768px
@media screen and (max-width: 48rem) {
    .header{
        padding: 2rem 4rem;
    }
    .construction__banner{
        padding: 1rem 4rem;
    }
    .main{
        padding: 4rem;
    }
    .post{
        &__heading{
            padding: 4rem 4rem 5rem 4rem;

            &--title{
                font-size: 250%;
            }
        }

        &__image{
            width: 90%;
        }

        &__markdown{
            width: 100%;
        }
    }
}

//responsive 676px
@media screen and (max-width: 42.25rem) {
    .posts{
        &__item{
            height: 16rem;
            font-size: 65%;

            &--wrapper{
                gap: 1rem;
            }
        }
    }
}

//response 660px
@media screen and (max-width: 41.25rem){
    .header{
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        &__movie{
            background: map-get(variables.$baseVars, "backdrop");
            background-image: none;
        }

        &__navigation{
            width: 80%;
            gap: 0.4rem;
            justify-content: space-between;

            &--avatar{
                width: 3rem;
            }
        }
    }
    .construction__banner{
        top: 12rem;
    }
    .homeactivity{
        &__list{
            overflow-x: scroll;
        }
        &__item{
            flex-shrink: 0;
        }
    }
    .homeposts{
        &__item{
            font-size: 80%;
            &--figure{
                height: 10rem;
            }
        }
    }
    .newpost{

        &__form{
            &--wrapper{
                flex-direction: column;
            }
            &--list{
                width: 100%;
            }

        }
    }
    .posts{
        &__list{
            gap: 4rem;
        }
        &__item{
            flex-direction: column;
            width: 100%;
            height: 100%;
            gap: 1rem;

            &--figure{
                width: 100%;
            }

            &--wrapper{
                width: 100%;
                gap: 2rem;
                font-size: 120%;
            }
        }
    }

    .post{
        &__heading{
            padding: 2rem 4rem 4rem 4rem;

            &--title{
                font-size: 200%;
            }
        }
    }
    .profile{
        &__wrapper{
            flex-direction: column;
        }
        &__body{
            width: 100%;
        }
        &__aside{
            width: 100%;
        }
        &__watchlist{
            height: 15rem;
        }
    }

    .settings{

        &__form{
            &--wrapper{
                flex-direction: column;
                gap: 4rem;
            }
        }

        &__details{
            width: 100%;
        }
        &__favorites{
            width: 100%;   
            height: 100%;

            &--item{
                height: 100%;
            }
        }
    }

    .backdrop{
        position: relative;
        height: 35rem;
    }

    .profile{

        &__hasBackdrop{
            padding: 0;
            margin-top: -10rem;
        }
    }

    .film{
        margin-top: -10rem;

        &__heading{
            &--title{
                font-size: 150%;
            }
        }
    }
}

//600px
@media screen and (max-width: 37.5rem) {
    .profile{
        &__heading{
            flex-direction: column;
            gap: 4rem;
            position: relative;

            &--info{
                
                &-avatar{
                    width: 8rem;
                }

                &-wrapper{
                    height: auto;
                    gap: 1rem;
                }

                &-heading{
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    gap: 1rem;
                }

                &-bio{
                    position: absolute;
                    bottom: 40%;
                    left: 50%;
                    transform: translate(-50%, 100%);
                    width: 100%;
                    text-align: center;
                }
            }

            &--details{
                width: 70%;
                justify-content: space-between;
            }

        }
    }
    .movie{
        &__modal{
            width: 90%;

            &--body{
                flex-direction: column;
            }
        }
    }
}

//528px
@media screen and (max-width: 33rem) {
    .homeposts{
        &__list{
            flex-direction: column;
            gap: 4rem;
        }
        &__item{
            width: 100%;
            font-size: 100%;

            &--figure{
                height: 25rem;
            }
        }
    }
    .homeactivity{
        &__item{
            &--rating{
                font-size: 40%;
            }
        }
    }
    .film{
        padding: 1rem;
        &__heading{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            &--wrapper{
                font-size: 80%;
                display: flex;
                align-items: start;
                gap: 0;
            }
            &--year{
                margin: 0;
                margin-right: 1rem;
            }
        }
        &__body{
            width: 55%;
        }
        &__aside{
            width: auto;
        }
    }
}

//big phone so L 480px
@media screen and (max-width: 30rem) {
    .main__auth{
        padding: 0;
    }
    .auth{
        background: none;
    }
    .homeposts{
        &__item{
            &--figure{
                height: 100%;
            }
        }
    }
    .post{
        &__heading{
            &--title{
                font-size: 150%;
            }
        }

        &__markdown{

            &--figure{
                height: 25rem;
            }
        }
    }
}

//kinda average phone ig 414px
@media screen and (max-width: 26rem) {
    .header{
        &__link{
            font-size: 70%;
        }
        &__navigation{
            font-size: 70%;

            &--avatar{
                width: 2rem;
            }
            &--dropdown{
                width: 6rem;
                padding: 1rem;
                font-size: 70%;
                transform: translate(-25%, 0%);
            }
        }
    }
    .construction__banner{
        top: 10rem;
    }
    .post{
        &__heading{
            padding: 2rem;
            gap: 1rem;

            &--details{
                font-size: 80%;
            }

            &--title{
                font-size: 120%;
            }
            &--wrapper{
                font-size: 70%;
            }
            &--image{
                width: 2rem;
            }
        }

        &__wrapper{
            margin-top: -1rem;
        }

        &__markdown{
            width: 100%;
            &--text{
                text-align: center;
            }

            &--subtitle{
                text-align: center;
            }

            &--figure{
                height: 20rem;

                &-caption{
                    font-size: 65%;
                }
            }
        }
    }
}