@use "variables";

@mixin flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.4rem;
    border: 0.1rem solid rgba(map-get(variables.$baseVars, "color"), 0.2);
}

@mixin icon{
    background: url("/public/images/sprite.svg") no-repeat;
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
}

@mixin iconLarger{
    background: url("/public/images/sprite.svg") no-repeat;
    display: inline-block;
    width: 2.5rem;
    height: 2.7rem;
}