$baseVars: (
    "background": #14181c,
    // // "color": #bbcddd,
    "greycolor": #99aabb,
    "white": white,
    // "black": black,
    // "grey": #445565,
    // "font": sans-serif,
    // "background": #101010,
    "color": white,
    "black": black,
    "font": graphik,
    "boldfont": tiempos,
    // "blue": #1F3856,
    "error": #F87F81,
    "grey": #AABBCC,
    "darkcolor": #234,
    "bluegrey": #345,
    "darkgrey": #456,
    "blurcolor": #567,
    "icongrey": #678,
    "numbercolor": #778899,
    "lightcolor": #89a,
    "footer": #334455,
    // "green": #00ac1c,
    "green": #00c030,
    "labelcolor": #ddeeff,
    "orange": #ee7000,
    "greybutton": #283038,
    "cancelgrey": #556677,
    "cancelcolor": #C8D4E0,
    "inputgrey": #2c3440,
    "authinput": #cde,
    "avatarfooter": #303c48,
    "lightbluecolor": #def,
    "red": #ec1200,
    "profileborder": #24303c,
    "blue": #40BCF4,
    "lightblue": #add8e6,
    // "lightgrey": #bbcddd,
    "lightgrey": #bbccdd,
    "hovergrey": #303840,
    "editgrey": #1c242c,
    "emptyposter": #1F282F,
    "activitygrey": #1c232a,
    "bordercolor": #111
);

// import 'package:flutter/material.dart';

// class AppColors{
//   static const Color background = Color(0xff14181C);
//   static const Color white = Colors.white;
//   static const Color grey = Color(0xff445565);
//   static const Color black = Colors.black;

//   static const Color lightgrey = Color(0xff667788);
//   static const Color darkgrey = Color(0xff1a1c1f);

//   static const Color bluegrey = Color(0xff303a49);

//   static const Color color = Color(0xffbbcddd);

//   static const Color green = Color(0xff00c030);
//   static const Color blue = Color(0xff41bcf4);
//   static const Color orange = Color(0xffcc8631);

//   static const Color lightcolor = Color(0xffaabbcc);
  
//   static const Color creditcolor = Color(0xff475462);

//   static const Color personbackground = Color(0xff171a1f);
//   static const Color persongrey = Color(0xff2a3038);

//   static const Color bottomsheet = Color(0xff313c4a);
//   static const Color darkbottomsheet = Color(0xff1e242c);
// }