@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.person{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;

    &__body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 2rem;
        width: 70%;

    }

    &__credits{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__credit{
        width: 18%;
        &--poster{
            @include mixins.image;
        }
    }

    &__aside{
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 2rem;

        &--wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 1rem;
        }
    }

    &__figure{
        width: 90%;
        height: 100%;

        &--image{
            @include mixins.image;
        }
    }

    &__biography{
        color: map-get(variables.$baseVars, "lightcolor");
        font-size: 85%;
        line-height: 1.25;
    }

    &__more{
        color: map-get(variables.$baseVars, "lightcolor");
        font-size: 80%;
        @include mixins.flexBox;
        gap: 0.4rem;

        &--link{
            font-size: 1rem;
            border: 0.15rem solid rgba(map-get(variables.$baseVars, "greycolor"), 0.4);
            padding: 0.4rem 0.5rem 0.3rem;
            border-radius: 0.2rem;
            color: map-get(variables.$baseVars, "greycolor");
            text-decoration: none;
            letter-spacing: 0.05rem;

            &:hover{
                border-color: map-get(variables.$baseVars, "greycolor");
                color: map-get(variables.$baseVars, "color");

            }
        }
    }
}