@use "../../abstracts/variables";
@use "../../abstracts/mixins";


.comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    width: 80%;
    color: map-get(variables.$baseVars, "darkgrey");
    
    &__amount{
        color: map-get(variables.$baseVars, "darkgrey");
    }

    &__wrapper{
        @include mixins.flexBox;
        width: 100%;
        gap: 2rem;
        border-bottom: 0.1rem solid rgba(map-get(variables.$baseVars, "background"), 0.2);
        padding-bottom: 2rem;
    }

    &__avatar{
        width: 4rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }

    &__input{
        width: 100%;
        border: 0.1rem solid rgba(map-get(variables.$baseVars, "background"), 0.2);
        border-radius: 0.4rem;
        font-size: 100%;
        font-family: map-get(variables.$baseVars, "font");
        padding: 1rem;

        &:focus{
            outline: none;
        }
    }

    &__submit{
        border: none;
        background: map-get(variables.$baseVars, "grey");
        font-size: 120%;
        padding: 0.6rem;
        border-radius: 0.4rem;
    }

    &__list{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 2rem;
    }

    &__item{
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 1rem;

        &--image{
            width: 2.5rem;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 50%;
        }
        &--wrapper{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 1rem;
        }
        &--header{
            display: inline;

            &-user{
                display: inline;
                font-weight: 600;
                font-size: 90%;
                text-decoration: none;
                color: map-get(variables.$baseVars, "darkgrey");

                &:hover{
                    cursor: pointer;
                    color: lighten(map-get(variables.$baseVars, "darkgrey"), 5%);
                }
            }
            &-date{
                display: inline;
                font-size: 80%;
                margin-left: 0.6rem;
            }
        }
        // &--user{
        //     font-weight: 600;
        //     font-size: 90%;
        //     text-decoration: none;
        //     color: map-get(variables.$baseVars, "darkgrey");

        //     &:hover{
        //         cursor: pointer;
        //         color: lighten(map-get(variables.$baseVars, "darkgrey"), 5%);
        //     }
        // }
        &--comment{
            font-family: map-get(variables.$baseVars, "boldfont");
        }
        &--actions{
            @include mixins.flexBox;
            gap: 2rem;
        }
        &--button{
            background: none;
            border: none;
            font-size: 120%;
        }
        &--action{
            font-size: 80%;
            @include mixins.flexBox;
            gap: 1rem;
        }
    }

    &__empty{
        padding: 2rem;
        @include mixins.flexBox;
        width: 100%;
    }
}