@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.newpost{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;

    &__form{
        width: 100%;
        @include mixins.flexBox;
        flex-direction: column;
        gap: 2rem;

        &--wrapper{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: start;
            gap: 2rem;
        }

        &--list{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 2rem;
        }

        &--item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 0.6rem;
            width: 100%;

            &-label{
                color: map-get(variables.$baseVars, "grey");
                font-size: 90%;
                @include mixins.flexBox;
                gap: 0.4rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            &-button{
                background: none;
                border: none;
                font-family: inherit;
                color: map-get(variables.$baseVars, "icongrey");
                font-size: 80%;

                &:hover{
                    cursor: pointer;
                    color: map-get(variables.$baseVars, "blue");
                }
                &:focus{
                    outline: none;
                }
            }

            &-info{
                background: map-get(variables.$baseVars, "icongrey");
                border: none;
                border-radius: 50%;
                color: map-get(variables.$baseVars, "color");
                width: 1.4rem;
                aspect-ratio: 1/1;
                font-size: 65%;
            }

            &-textarea{
                width: 100%;
                border: none;
                background: map-get(variables.$baseVars, "darkgrey");
                font-size: 100%;
                padding: 0.8rem;
                height: 100%;
                border-radius: 0.2rem;
                color: map-get(variables.$baseVars, "grey");
                font-family: map-get(variables.$baseVars, "font");

                &:focus{
                    background: map-get(variables.$baseVars, "color");
                    outline: none;
                    color: map-get(variables.$baseVars, "black");
                }
            }

            &-tags{
                list-style: none;
                @include mixins.flexBox;
                flex-wrap: wrap;
                gap: 1rem;
            }
            &-tag{
                background-image: url("/public/images/tag.png");
                padding: 1rem;
                background-repeat: no-repeat;
                background-position: right;
                font-size: 80%;
                @include mixins.flexBox;
                gap: 0.4rem;
                color: map-get(variables.$baseVars, "greycolor");
                border-radius: 1rem 0 0 1rem;
            }
            &-remove{
                background: none;
                border: none;
                color: inherit;
            }
        }

        &--dropdown{
            width: 100%;
            border: none;
            background: map-get(variables.$baseVars, "darkgrey");
            font-size: 100%;
            padding: 0.8rem;
            border-radius: 0.2rem;
            color: map-get(variables.$baseVars, "grey");
            font-family: map-get(variables.$baseVars, "font");
        }

        &--description{
            height: 100%;
        }

        &--footer{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-buttons{
                @include mixins.flexBox;
                gap: 0.4rem;
            }
        }
    }
}