@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.posts{
    position: relative;
    width: 100%;
    @include mixins.flexBox;
    flex-direction: column;
    gap: 2rem;

    &__heading{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.1rem solid map-get(variables.$baseVars, "grey");

        &--amount{
            font-size: 90%;
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 2rem;
        width: 100%;
    }

    &__item{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2rem;
        width: 100%;
        height: 25rem;
        color: map-get(variables.$baseVars, "color");
        text-decoration: none;

        &--figure{
            position: relative;
            width: 40%;
            height: 100%;
            @include mixins.flexBox;

            & p, img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &-type{
                position: absolute;
                bottom: 0;
                right: 0;
                background: map-get(variables.$baseVars, "lightcolor");
                padding: 0.4rem 1rem;
                color: map-get(variables.$baseVars, "color");
                text-decoration: none;
                font-weight: 600;
                border-radius: 0.1rem;
                margin: 1rem;
            }
        }

        &--wrapper{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 2rem;
            height: 100%;
            width: 60%;
        }

        &--details{
            display: inline;
            font-size: 80%;
            color: map-get(variables.$baseVars, "grey");

            &-stage{
                font-family: map-get(variables.$baseVars, "boldfont");
                font-weight: 600;
                font-size: 100%;
                display: inline;
            }
            &-date{
                display: inline;
                padding-left: 0.4rem;
                text-transform: uppercase;
            }
        }

        &--text{
            display: inline;
            font-size: 140%;

            &-title{
                font-weight: 600;
                display: inline;
            }

            &-intro{
                color: map-get(variables.$baseVars, "greycolor");
                font-family: map-get(variables.$baseVars, "boldfont");
                font-weight: 400;
                display: inline;
                padding-left: 0.4rem;
            }
        }

        &--user{
            @include mixins.flexBox;
            gap: 1rem;

            &-avatar{
                width: 3rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
                object-fit: cover;
            }

            &-name{
                text-transform: uppercase;
                font-size: 80%;
                color: map-get(variables.$baseVars, "grey");
                font-weight: 600;
            }
        }

        &--tags{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;
        }
    }
}