@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.film{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    width: 100%;
    padding: 0 35rem;
    margin-top: 25%;

    &__backdrop{
        width: 100%;
        height: 67.5rem;
        position: absolute;
        top: 0;
        z-index: -10;
        padding: 0 25rem;
        
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            height: 100%;
            width: 71%;
            background-image: linear-gradient(to right,#14181d,rgba(20,24,29,.984) .97%,rgba(20,24,29,.945) 2.07833333%,rgba(20,24,29,.882) 3.29666667%,rgba(20,24,29,.804) 4.60166667%,rgba(20,24,29,.71) 5.96666667%,rgba(20,24,29,.608),rgba(20,24,29,.5),rgba(20,24,29,.396) 10.16%,rgba(20,24,29,.294) 11.505%,rgba(20,24,29,.204) 12.78%,rgba(20,24,29,.12) 13.95833333%,rgba(20,24,29,.06) 15.01666667%,rgba(20,24,29,.016) 15.92833333%,rgba(20,24,29,0) 16.66666667%,rgba(20,24,29,0) 83.33333333%,rgba(20,24,29,.016) 84.07166667%,rgba(20,24,29,.06) 84.98333333%,rgba(20,24,29,.12) 86.04166667%,rgba(20,24,29,.204) 87.22%,rgba(20,24,29,.294) 88.495%,rgba(20,24,29,.396) 89.84%,rgba(20,24,29,.5),rgba(20,24,29,.608),rgba(20,24,29,.71) 94.03333333%,rgba(20,24,29,.804) 95.39833333%,rgba(20,24,29,.882) 96.70333333%,rgba(20,24,29,.945) 97.92166667%,rgba(20,24,29,.984) 99.03%,#14181d),linear-gradient(to top,#14181d,#14181d 21.48148148%,rgba(20,24,29,.984) 23.63703704%,rgba(20,24,29,.945) 26.1%,rgba(20,24,29,.882) 28.80740741%,rgba(20,24,29,.804) 31.70740741%,rgba(20,24,29,.71) 34.74074074%,rgba(20,24,29,.608),rgba(20,24,29,.5) 40.97407407%,rgba(20,24,29,.396) 44.05925926%,rgba(20,24,29,.294) 47.04814815%,rgba(20,24,29,.204) 49.88148148%,rgba(20,24,29,.12) 52.5%,rgba(20,24,29,.06) 54.85185185%,rgba(20,24,29,.016) 56.87777778%,rgba(20,24,29,0) 58.51851852%);
        }

        &--image{
            background-position: center 0;
            height: 100%;
            width: 100%;
            background-size: cover;
        }
    }

    &__aside{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 25%;

        &--figure{
            width: 85%;
            height: 100%;

            &-poster{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.4rem;
                border: 0.1rem solid rgba(map-get(variables.$baseVars, "color"), 0.2);
            }
        }
    }

    &__body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 3rem;
        width: 75%;
    }

    &__heading{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;

        &--title{
            font-family: map-get(variables.$baseVars, "boldfont");
        }

        &--year{
            font-weight: 200;
            color: map-get(variables.$baseVars, "labelcolor");
            text-decoration: underline;
            text-decoration-thickness: 0.1rem;
            text-decoration-color: rgba(map-get(variables.$baseVars, "color"), 0.4);
            text-underline-offset: 0.3rem;
            font-size: 110%;
        }

        &--wrapper{
            @include mixins.flexBox;
            gap: 0.6rem;
        }

        &--directed{
            font-weight: 200;
            color: map-get(variables.$baseVars, "greycolor");
            font-size: 110%;

            &-name{
                font-weight: 200;
                color: map-get(variables.$baseVars, "labelcolor");
                text-decoration: underline;
                text-decoration-thickness: 0.1rem;
                text-decoration-color: rgba(map-get(variables.$baseVars, "color"), 0.4);
                text-underline-offset: 0.3rem;
                font-size: 110%;
            }
        }
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 100%;
    }

    &__details{
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 2rem;

        &--wrapper{
            color: map-get(variables.$baseVars, "greycolor");
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 1.5rem;
        }
        
        &--tagline{
            text-transform: uppercase;
            letter-spacing: 0.075rem;
            font-size: 85%;
            line-height: 1.25;
        }

        &--overview{
            font-family: map-get(variables.$baseVars, "boldfont");
        }
    }

    &__tabs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
        width: 100%;

        &--list{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 2rem;
            border-bottom: 0.1rem solid map-get(variables.$baseVars, "darkgrey");
            width: 100%;
            
        }

        &--tab{
            background: none;
            border: none;
            color: map-get(variables.$baseVars, "green");
            font-family: map-get(variables.$baseVars, "font");
            padding-bottom: 0.4rem;
            font-size: 90%;

            &:hover{
                cursor: pointer;
                text-decoration: underline;
                text-decoration-color: map-get(variables.$baseVars, "green");
                text-decoration-thickness: 0.1rem;
                text-underline-offset: 0.65rem;
            }

            &-active{
                color: map-get(variables.$baseVars, "color");
                text-decoration: underline;
                text-decoration-color: map-get(variables.$baseVars, "color");
                text-decoration-thickness: 0.1rem;
                text-underline-offset: 0.65rem;
                &:hover{
                    text-decoration-color: map-get(variables.$baseVars, "color");
                }
            }
        }

        &--cast{
            display: flex;
            justify-content: start;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.5rem;
            row-gap: 0.6rem;

            &-item{
                color: map-get(variables.$baseVars, "greycolor");
                text-decoration: none;
                font-family: map-get(variables.$baseVars, "font");
                font-size: 80%;
                background: map-get(variables.$baseVars, "greybutton");
                padding: 0.6rem;
                border-radius: 0.3rem;
                box-shadow: inset 0 0.1rem 0 rgba(map-get(variables.$baseVars, "color"), 0.1);
                border: none;

                &:hover{
                    cursor: pointer;
                    background: lighten(map-get(variables.$baseVars, "greybutton"), 5%);
                    color: lighten(map-get(variables.$baseVars, "greycolor"), 20%);
                }
            }
        }
    }

    &__actions{
        width: 35%;
        background: map-get(variables.$baseVars, "darkgrey");
        border-radius: 0.2rem;
    }
}