@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.favorite__overlay{
    background: rgba(map-get(variables.$baseVars, "black"), 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.favorite__modal{
    @include mixins.flexBox;
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    background: map-get(variables.$baseVars, "darkgrey");
    border: none;
    border-radius: 0.2rem;
    padding: 2rem;
    width: 20%;

    &:focus{
        outline: none;
    }

    &--form{
        width: 100%;
        @include mixins.flexBox;
        flex-direction: column;
        gap: 2rem;
    }

    &--header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &-text{
            color: map-get(variables.$baseVars, "greycolor");
            font-weight: 400;
            font-size: 100%;
        }

        &-button{
            background: none;
            border: none;
            color: map-get(variables.$baseVars, "greycolor");
            font-size: 120%;
        }
    }

    &--search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0.6rem;
        width: 100%;
        position: relative;

        &-label{
            font-size: 80%;
            color: map-get(variables.$baseVars, "color");
        }

        &-input{
            border: none;
            background: map-get(variables.$baseVars, "grey");
            width: 100%;
            font-size: 100%;
            padding: 0.6rem;
            color: map-get(variables.$baseVars, "blurcolor");
            border-radius: 0.2rem;

            &:focus{
                outline: none;
                background: map-get(variables.$baseVars, "color");
                color: map-get(variables.$baseVars, "darkcolor");
            }
        }
    }

    &--dropdown{
        background: map-get(variables.$baseVars, "icongrey");
        position: absolute;
        top: 100%;
        height: 20rem;
        overflow-y: auto;
        list-style: none;
        border: 0.1rem solid map-get(variables.$baseVars, "color");

        &-item{
            padding: 1rem 1rem;
            font-size: 80%;
            width: 100%;

            &:hover{
                background: map-get(variables.$baseVars, "green");
            }
        }
        &-title{
            text-overflow: ellipsis;
            color: map-get(variables.$baseVars, "color");
            text-shadow: 0 -0.1rem 0 rgba(map-get(variables.$baseVars, "black"), 0.2);
        }

    }

}