@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.profile{
    width: 100%;
    @include mixins.flexBox;
    flex-direction: column;
    gap: 2rem;

    &__hasBackdrop{
        position: relative;
        padding-top: 40rem;
    }

    &__heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &--info{
            @include mixins.flexBox;
            gap: 2rem;

            &-avatar{
                width: 10rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
                object-fit: cover;
                border: 0.1rem solid rgba(map-get(variables.$baseVars, "color"), 0.2);

                &:hover{
                    cursor: pointer;
                    border: 0.2rem solid rgba(map-get(variables.$baseVars, "color"), 0.2);
                }
            }

            &-wrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                height: 10rem;
                padding: 1rem 0;
            }

            &-heading{
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 2.5rem;
                width: 100%;
            }
            &-buttons{
                @include mixins.flexBox;
                gap: 2rem;
            }
            &-button{
                background: map-get(variables.$baseVars, "blurcolor");
                border-radius: 0.3rem;
                box-shadow: inset 0 0.1rem 0 rgba(map-get(variables.$baseVars, "color"), 0.2);
                color: map-get(variables.$baseVars, "cancelcolor");
                font-family: inherit;
                font-weight: 600;
                padding: 0.6rem 1rem;
                letter-spacing: 0.05rem;
                font-size: 70%;
                text-decoration: none;
            }
            &-dropdown{
                position: relative;

                &:focus-within .dropdown__profile{
                    display: flex;
                }
            }
            &-more{
                position: relative;
                background: rgba(map-get(variables.$baseVars, "darkgrey"), 0.7);
                border: none;
                border-radius: 50%;
                color: map-get(variables.$baseVars, "color");
                width: 2rem;
                aspect-ratio: 1/1;
            }
            &-bio{
                font-size: 80%;
                color: map-get(variables.$baseVars, "greycolor");
            }
            &-details{
                @include mixins.flexBox;
                gap: 2rem;
            }
            &-location{
                @include mixins.flexBox;
                gap: 0.4rem;
            }
            &-pin{
                font-size: 80%;
                color: map-get(variables.$baseVars, "icongrey");
            }
            &-link{
                @include mixins.flexBox;
                gap: 0.4rem;
                text-decoration: none;
                font-size: 80%;
                color: map-get(variables.$baseVars, "icongrey");

                &:hover{
                    color: map-get(variables.$baseVars, "blue");
                }
            }
            // &-cursor{
            //     background: url("/public/images/cursor.svg") no-repeat;
            //     width: 2rem;
            //     height: 2rem;
            //     background-size: auto;
            //     // background: cornflowerblue;
            //     @include mixins.flexBox;
            //     fill: currentColor(blue);
            // }
            &-text{
                font-size: 80%;
                color: map-get(variables.$baseVars, "icongrey");
            }
        }
        &--details{
            @include mixins.flexBox;
            gap: 1rem;

            &-item{
                @include mixins.flexBox;
                flex-direction: column;
                gap: 0.4rem;
            }

            &-amount{
                font-family: map-get(variables.$baseVars, "boldfont");
            }
            &-text{
                font-size: 70%;
                color: map-get(variables.$baseVars, "icongrey");
                text-decoration: none;

                &:hover{
                    color: map-get(variables.$baseVars, "blue");
                }
            }
        }
    }

    &__tabs{
        border: 0.05rem solid map-get(variables.$baseVars, "profileborder");
        padding: 2rem;
        width: 100%;
        border-radius: 0.3rem;
    }

    &__wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 4rem;
    }

    &__body{
        width: 70%;
        @include mixins.flexBox;
        flex-direction: column;
        gap: 2rem;
    }

    &__aside{
        width: 25%;
        @include mixins.flexBox;
        flex-direction: column;
        gap: 4rem;
        
        &--wrapper{
            position: relative;
            width: 100%;
            @include mixins.flexBox;
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__favorites{
        @include mixins.flexBox;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        color: map-get(variables.$baseVars, "greycolor");
        font-size: 85%;
        position: relative;

        &--list{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1rem;
            list-style: none;
            // height: 25rem;
            width: 100%;
        }

        &--item{
            width: 24%;
            border-radius: 0.4rem;
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 0.4rem;

            &:hover &-overlay{
                cursor: pointer;
                opacity: 1;
            }

            
            &-image{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.4rem;
                border: 0.1rem solid rgba(map-get(variables.$baseVars, "color"), 0.2);
            }

            &-overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1000;
                box-shadow: inset 0.3rem 0.3rem 0rem map-get(variables.$baseVars, "green"), inset -0.3rem -0.3rem 0 map-get(variables.$baseVars, "green");
                overflow: hidden;
                border-radius: 0.4rem;
                opacity: 0;
                transition: 0.4s all;
            }

            &-empty{
                border: 0.1rem solid rgba(map-get(variables.$baseVars, "darkgrey"), 0.7);
                background: map-get(variables.$baseVars, "inputgrey");
            }
        }
    }

    &__watchlist{
        width: 100%;
        height: 10rem;
        display: flex;
        position: relative;

        &--wrapper{
            list-style: none;
            width: 100%;
            position: relative;

            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1000;
                border: 0rem solid map-get(variables.$baseVars, "lightbluecolor");
                border-radius: 0.2rem;
                opacity: 0;
                transition: 0.2s all;
            }

            &:hover::after{
                opacity: 1;
                border-width: 0.3rem;
            }
        }

        &--item{
            position: absolute;
            height: 100%;
            width: 25%;
            right: 0;
            border-radius: 0.4rem;
            box-shadow: 0.4rem 0rem 0.2rem 0 rgba(map-get(variables.$baseVars, "black"), 0.4);

            &-empty{
                background: map-get(variables.$baseVars, "background");
            }
            
            @for $i from 1 through 5{
                &:nth-of-type(#{$i + 1}){
                    right: ($i) * 18.5%;
                    z-index: $i + 100;
                }
            }

            &-poster{
                @include mixins.image;
                border-radius: 0.2rem;
                border: none;
            }
            &-overlay{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                border: 0.1rem solid rgba(map-get(variables.$baseVars, "color"), 0.2);
                border-radius: 0.2rem;
            }
        }
    }

    &__diary{
        width: 100%;
        @include mixins.flexBox;
        flex-direction: column;
        gap: 2rem;

        &--list{
            @include mixins.flexBox;
            flex-direction: column;
            gap: 2rem;
            width: 100%;
            // background: red;
            list-style: none;
        }

        &--item{
            display: flex;
            justify-content: start;
            align-items: start;
            width: 100%;
            // border-bottom: 0.1rem solid rgba(map-get(variables.$baseVars, "color"), 0.2);

            &-month{
                flex-shrink: 0;
                padding-top: 1rem;
                width: 3.4rem;
                height: 3rem;
                font-weight: 400;
                background: url('/public/images/calendar.png') no-repeat;
                background-size: contain;
                text-align: center;
                color: map-get(variables.$baseVars, "background");
                font-size: 74%;

            }
        }

        &--entries{
            display: grid;
            grid-template-columns: 2em auto;
            column-gap: 0.8rem;
            row-gap: 1rem;
            font-size: 85%;

            &-day{
                display: flex;
                justify-content: end;
                align-items: center;
                color: map-get(variables.$baseVars, "icongrey");
            }
            &-link{
                color: map-get(variables.$baseVars, "greycolor");
                text-decoration: none;
                line-height: 1.25;

                &:hover{
                    color: map-get(variables.$baseVars, "blue");
                }
            }
        }
    }
}