@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.profile{
    width: 100%;
    @include mixins.flexBox;
    flex-direction: column;
    gap: 2rem;

    &__heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &--info{
            @include mixins.flexBox;
            gap: 2rem;

            &-avatar{
                width: 10rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
                object-fit: cover;
                border: 0.1rem solid rgba(map-get(variables.$baseVars, "color"), 0.2);

                &:hover{
                    cursor: pointer;
                    border: 0.2rem solid rgba(map-get(variables.$baseVars, "color"), 0.2);
                }
            }

            &-wrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                height: 10rem;
                padding: 1rem 0;
            }

            &-heading{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2.5rem;
                width: 100%;
            }
            &-buttons{
                @include mixins.flexBox;
                gap: 2rem;
            }
            &-button{
                background: map-get(variables.$baseVars, "blurcolor");
                border-radius: 0.3rem;
                box-shadow: inset 0 0.1rem 0 rgba(map-get(variables.$baseVars, "color"), 0.2);
                color: map-get(variables.$baseVars, "cancelcolor");
                font-family: inherit;
                font-weight: 600;
                padding: 0.6rem 1rem;
                letter-spacing: 0.05rem;
                font-size: 70%;
                text-decoration: none;
            }
            &-more{
                background: rgba(map-get(variables.$baseVars, "darkgrey"), 0.7);
                border: none;
                border-radius: 50%;
                color: map-get(variables.$baseVars, "color");
                width: 2rem;
                aspect-ratio: 1/1;
            }
            &-bio{
                font-size: 80%;
                color: map-get(variables.$baseVars, "greycolor");
            }
            &-location{
                @include mixins.flexBox;
                gap: 0.4rem;
            }
            &-pin{
                font-size: 80%;
                color: map-get(variables.$baseVars, "icongrey");
            }
            &-text{
                font-size: 80%;
                color: map-get(variables.$baseVars, "icongrey");
            }
        }
        &--details{
            @include mixins.flexBox;
            gap: 1rem;

            &-item{
                @include mixins.flexBox;
                flex-direction: column;
                gap: 0.4rem;
            }

            &-amount{
                font-family: map-get(variables.$baseVars, "boldfont");
            }
            &-text{
                font-size: 70%;
                color: map-get(variables.$baseVars, "icongrey");
            }
        }
    }

    &__tabs{
        border: 0.05rem solid map-get(variables.$baseVars, "profileborder");
        padding: 2rem;
        width: 100%;
        border-radius: 0.3rem;
    }

    &__wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 4rem;
    }

    &__body{
        width: 75%;
        @include mixins.flexBox;
        flex-direction: column;
        gap: 2rem;
    }

    &__aside{
        width: 25%;
        background: red;
        height: 10rem;
    }

    &__favorites{
        @include mixins.flexBox;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        color: map-get(variables.$baseVars, "greycolor");
        font-size: 85%;
        position: relative;

        &--heading{
            width: 100%;
            border-bottom: 0.1rem solid rgba(map-get(variables.$baseVars, "color"), 0.2);
            padding-bottom: 0.4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-button{
                background: none;
                border: none;
                font-size: 80%;
                color: map-get(variables.$baseVars, "icongrey");
                font-family: inherit;

                &:hover{
                    cursor: pointer;
                    color: map-get(variables.$baseVars, "blue");
                }
                &:focus{
                    outline: none;
                }
            }
        }

        &--list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            height: 26rem;
            width: 100%;
        }

        &--item{
            width: 24%;
            border-radius: 0.4rem;
            position: relative;
            height: 100%;

            &:hover &-overlay{
                cursor: pointer;
                opacity: 1;
            }

            
            &-image{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.4rem;
                border: 0.1rem solid rgba(map-get(variables.$baseVars, "color"), 0.2);
            }

            &-overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1000;
                box-shadow: inset 0.3rem 0.3rem 0rem map-get(variables.$baseVars, "green"), inset -0.3rem -0.3rem 0 map-get(variables.$baseVars, "green");
                overflow: hidden;
                border-radius: 0.4rem;
                opacity: 0;
                transition: 0.4s all;
            }
        }
    }
}