@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.settings{
    width: 100%;
    @include mixins.flexBox;
    flex-direction: column;
    gap: 4rem;

    &__heading{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--text{
            font-weight: 200;
            color: map-get(variables.$baseVars, "greycolor");
            font-size: 160%;
        }
    }

     &__tabs{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2rem;
        border-bottom: 0.1rem solid map-get(variables.$baseVars, "darkgrey");
        width: 100%;

        &--item{
            background: none;
            border: none;
            color: map-get(variables.$baseVars, "green");
            font-family: map-get(variables.$baseVars, "font");
            padding-bottom: 0.4rem;
            font-size: 90%;

            &:hover{
                cursor: pointer;
                text-decoration: underline;
                text-decoration-color: map-get(variables.$baseVars, "green");
                text-decoration-thickness: 0.1rem;
                text-underline-offset: 0.65rem;
            }

            &-active{
                color: map-get(variables.$baseVars, "color");
                text-decoration: underline;
                text-decoration-color: map-get(variables.$baseVars, "color");
                text-decoration-thickness: 0.1rem;
                text-underline-offset: 0.65rem;

                &:hover{
                    text-decoration-color: map-get(variables.$baseVars, "color");
                }
            }
        }
    }

    &__form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 2rem;

        &--wrapper{
            display: flex;
            justify-content: space-between;
            align-items: start;
            width: 100%;
        }

        &--text{
            font-weight: 200;
            font-size: 125%;
        }
    }

    &__details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 2rem;
        width: 45%;

        // &--item{
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;
        //     align-items: start;
        //     gap: 0.8rem;
        //     width: 100%;

        //     &-label{
        //         font-size: 80%;
        //     }

        //     &-input{
        //         width: 100%;
        //         border: none;
        //         box-shadow: inset 0 -0.2rem 0 map-get(variables.$baseVars, "darkgrey");
        //         border-radius: 0.4rem;
        //         background: map-get(variables.$baseVars, "inputgrey");
        //         font-size: 90%;
        //         padding: 0.7rem;
        //         color: map-get(variables.$baseVars, "lightcolor");
        //         font-family: map-get(variables.$baseVars, "font");

        //         &::placeholder{
        //             color: map-get(variables.$baseVars, "darkgrey");
        //         }

        //         &:focus{
        //             background: map-get(variables.$baseVars, "color");
        //             color: map-get(variables.$baseVars, "darkcolor");
        //             outline: none;
        //             box-shadow: none;

        //             &::placeholder{
        //                 color: map-get(variables.$baseVars, "lightcolor");
        //             }
        //         }
        //     }
        // }

        &--wrapper{
            @include mixins.flexBox;
            gap: 1rem;
            width: 100%;
        }
    }

    &__favorites{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1rem;

        &--heading{
            width: 100%;
            border-bottom: 0.1rem solid map-get(variables.$baseVars, "darkgrey");
            &-button{
                background: none;
                border: none;
                color: map-get(variables.$baseVars, "color");
                font-family: map-get(variables.$baseVars, "font");
                padding-bottom: 0.4rem;
                font-size: 90%;
                text-decoration: underline;
                text-decoration-color: map-get(variables.$baseVars, "color");
                text-decoration-thickness: 0.1rem;
                text-underline-offset: 0.65rem;

                &:hover{
                    cursor: pointer;
                }
            }
        }
        
        &--wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 1rem;
        }
        &--item{
            background: map-get(variables.$baseVars, "bluegrey");
            border: 0.1rem solid rgba(map-get(variables.$baseVars, "color"), 0.1);
            width: 25%;
            // height: 16rem;
            border-radius: 0.3rem;
            position: relative;

            &:hover &-remove{
                display: flex;
            }

            &:focus{
                outline: none;
            }

            &-button{
                width: 100%;
                height: 100%;
                background: none;
                border: none;
            }

            &-poster{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.3rem;
            }

            &-empty{
                border: none;
                color: map-get(variables.$baseVars, "grey");
                font-size: 100%;
            }

            &-remove{
                position: absolute;
                font-size: 70%;
                background: map-get(variables.$baseVars, "icongrey");
                border-radius: 50%;
                z-index: 1000;
                width: 1.6rem;
                aspect-ratio: 1/1;
                border: none;
                @include mixins.flexBox;
                top: 0;
                right: 0;
                transform: translate(50%, -50%);
                display: none;
                color: map-get(variables.$baseVars, "grey");
                box-shadow: inset 0 0.1rem 0 rgba(map-get(variables.$baseVars, "grey"), 0.4);

                &:hover{
                    cursor: pointer;
                    background: map-get(variables.$baseVars, "orange");
                color: map-get(variables.$baseVars, "color");
                }
            }
        }

        &--backdrop{
            width: 20rem;

            &-image{
                width: 100%;
                object-fit: cover;
                
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    &__avatar{
        background: rgba(map-get(variables.$baseVars, "black"), 0.1);
        width: 100%;
        border: 0.1rem solid rgba(map-get(variables.$baseVars, "lightbluecolor"), 0.1);
        border-radius: 0.3rem;
        
        &--wrapper{
            position: relative;
            @include mixins.flexBox;
            padding: 10rem;

            &:hover .settings__avatar--hover{
                display: flex;
            }
        }

        &--image{
            width: 20rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            object-fit: cover;
            border: 0.1rem solid rgba(map-get(variables.$baseVars, "white"), 0.2);
        }

        &--hover{
            position: absolute;
            @include mixins.flexBox;
            width: 100%;
            top: 0;
            height: 100%;
            overflow: hidden;
            background: rgba(map-get(variables.$baseVars, "background"), 0.4);
            border: none;
            color: map-get(variables.$baseVars, "lightbluecolor");
            font-family: inherit;
            display: none;
        }

        &--footer{
            background: map-get(variables.$baseVars, "avatarfooter");
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 0 0 0.2rem 0.2rem;
            padding: 1.4rem;

            &-empty{
                width: 7rem;
            }

            &-remove{
                background: none;
                border: none;
                color: map-get(variables.$baseVars, "greycolor");
                font-family: inherit;
                font-size: 80%;
                padding: 0.8rem 1rem;
                border-radius: 0.2rem;

                &:hover{
                    cursor: pointer;
                    background: map-get(variables.$baseVars, "red");
                    color: map-get(variables.$baseVars, "color");
                }
            }
        }
    }

    &__popup{
        background: map-get(variables.$baseVars, "green");
        border-radius: 0.4rem;
        padding: 1rem 2rem;
        position: absolute;
        top: 0;
        left: 0;
        margin: 2rem;

        &--message{
            color: map-get(variables.$baseVars, "color");
            font-size: 80%;
            font-weight: 600;

            &-link{
                color: map-get(variables.$baseVars, "color");
                font-size: 100%;
                font-weight: 600;
            }
        }
    }
}