@use "abstracts/reset";
@use "abstracts/base";

@use "components/header/header.scss";
@use "components/footer/footer.scss";

@use "components/home/home.scss";

@use "components/movies/movie.scss";
@use "components/movies/movies.scss";

@use "components/diary/diary.scss";

@use "components/film/film.scss";

@use "components/shows/show.scss";

@use "components/person/person.scss";

@use "components/posts/form.scss";
@use "components/posts/posts.scss";
@use "components/posts/post.scss";
@use "components/posts/comments.scss";

@use "components/dialogs/movie_modal.scss";
@use "components/dialogs/tags.scss";
@use "components/dialogs/favorite.scss";
@use "components/dialogs/film_modal.scss";

@use "components/account/settings.scss";
@use "components/account/profile.scss";
@use "components/account/watchlist.scss";

@use "components/about/about.scss";

@use "components/images/images.scss";

@use "components/auth/auth.scss";

@use "components/construction/construction.scss";

@use "components/activities/activities.scss";
@use "components/activities/activity.scss";

@use "abstracts/markdown";
@use "abstracts/components";
@use "abstracts/mediaqueries";