@use "abstracts/reset";
@use "abstracts/base";
@use "components/header/header.scss";

@use "components/home/home.scss";

@use "components/movies/movies.scss";

@use "components/film/film.scss";

@use "components/shows/show.scss";

@use "components/posts/form.scss";
@use "components/posts/posts.scss";
@use "components/posts/post.scss";

@use "components/dialogs/movie.scss";
@use "components/dialogs/tags.scss";
@use "components/dialogs/favorite.scss";

@use "components/account/settings.scss";
@use "components/account/profile.scss";

@use "components/auth/auth.scss";

@use "abstracts/markdown";
@use "abstracts/components";
@use "abstracts/mediaqueries";