@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.hours{
    width: 100%;
    background: map-get(variables.$baseVars, "inputgrey");
    padding: 2rem;
    border-radius: 0.2rem;
    margin: 2rem 0;

    &__heading{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--text{
            font-size: 90%;
            color: map-get(variables.$baseVars, "greycolor");
            font-weight: normal;
        }

        &--button{
            border: none;
            color: map-get(variables.$baseVars, "greycolor");
            background: none;
            font-family: inherit;
            font-size: 80%;

            &:hover{
                cursor: pointer;
                color: map-get(variables.$baseVars, "blue");
            }
        }

        &--form{
            @include mixins.flexBox;
            height: 2rem;
            &-input{
                border: none;
                background: map-get(variables.$baseVars, "darkgrey");
                width: 8rem;
                font-size: 100%;
                height: 100%;
                color: map-get(variables.$baseVars, "color");
                padding: 0.2rem;
                font-family: inherit;
                border-radius: 0.2rem 0 0 0.2rem;

                &:focus{
                    outline: none;
                    background: map-get(variables.$baseVars, "lightgrey");
                    color: map-get(variables.$baseVars, "darkcolor");
                }
            }
            &-submit{
                border: none;
                background: map-get(variables.$baseVars, "green");
                padding: 0.2rem;
                height: 100%;
                font-size: 60%;
                @include mixins.flexBox;
                color: map-get(variables.$baseVars, "color");
                font-family: inherit;
                border-radius: 0 0.2rem 0.2rem 0;
            }
        }
    }

    &__progress{
        &--bar{
            width: 100%;
            height: 1rem;
            appearance: none;
            border-radius: 2rem;
            
            &::-webkit-progress-bar{
                border-radius: 2rem;
                background: rgba(map-get(variables.$baseVars, "grey"), 0.4);
            }
            &::-webkit-progress-value{
                border-radius: 2rem;
                background: map-get(variables.$baseVars, "lightgrey");
            }
        }
    }
}

.homeactivity{
    @include mixins.flexBox;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    &__list{
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 1rem;
        width: 100%;
    }

    &__item{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 0.6rem;
        width: 22%;
        height: 100%;

        &:hover &--overlay{
            opacity: 1;
        }

        &--poster{
            width: 100%;
            object-fit: cover;
            border: 0.1rem solid rgba(map-get(variables.$baseVars, "color"), 0.2);
            border-radius: 0.4rem;
        }

        &--overlay{
            width: 100%;
            height: 94%;
            @include mixins.flexBox;
            color: map-get(variables.$baseVars, "color");
            text-decoration: none;
            position: absolute;
            box-shadow: inset 0.2rem 0.2rem 0rem map-get(variables.$baseVars, "lightbluecolor"), inset -0.2rem -0.2rem 0 map-get(variables.$baseVars, "lightbluecolor");
            border-radius: 0.4rem;
            opacity: 0;
            transition: 0.2s all;
        }

        &--rating{
            font-size: 60%;
            color: map-get(variables.$baseVars, 'greycolor');
            @include mixins.flexBox;
            gap: 0.4rem;

            &-stars{
                @include mixins.flexBox;
                gap: 0.1rem;
            }
        }
    }
}

.homeposts{
    position: relative;
    @include mixins.flexBox;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 100%;
    }

    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
        width: 32%;
        text-decoration: none;

        &--figure{
            position: relative;
            @include mixins.flexBox;
            width: 100%;
            height: 20rem;

            // &-image{
            //     width: 100%;
            //     height: 100%;
            //     object-fit: cover;
            // }

            & p, img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 0.6rem;
        }

        &--title{
            color: map-get(variables.$baseVars, "color");
        }
        &--intro{
            color: map-get(variables.$baseVars, "greycolor");
            font-size: 85%;
        }
    }
}