@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Tiempos';
    src: url('../fonts/Tiempos-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Tiempos';
    src: url('../fonts/Tiempos-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}