@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.header{
    background: map-get(variables.$baseVars, "background");
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 35rem;
    box-shadow: 10rem 0 10rem 10rem lighten(map-get(variables.$baseVars, "background"), 4%);

    &__movie{
        background: transparent;
        box-shadow: none;
        background-image: linear-gradient(to bottom,#14181c,rgba(20,24,28,.945) 16.56%,rgba(20,24,28,.8) 30.85%,rgba(20,24,28,.608) 43.77%,rgba(20,24,28,.392) 56.23%,rgba(20,24,28,.2) 69.15%,rgba(20,24,28,.055) 83.44%,rgba(20,24,28,0));
    }

    &__link{
        text-decoration: none;
        color: map-get(variables.$baseVars, "color");

        &--title{
            font-size: 200%;
        }
    }

    &__navigation{
        @include mixins.flexBox;
        gap: 2rem;

        &--item{
            text-decoration: none;
            color: map-get(variables.$baseVars, "color");
            font-weight: 600;

            &:hover{
                cursor: pointer;
                color: map-get(variables.$baseVars, "blue");
            }
        }

        &--wrapper{
            display: flex;
            flex-direction: column;
            position: relative;

            &:hover .header__navigation--dropdown{
                display: flex;
            }
        }

        &--avatar{
            width: 4rem;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 50%;

        }

        &--dropdown{
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            background: map-get(variables.$baseVars, "lightcolor");
            padding: 0.4rem 0;
            width: 300%;
            z-index: 100000;
            border-radius: 0.4rem;

            &-item{
                width: 100%;
                padding: 0.4rem 1rem;
                text-decoration: none;
                color: map-get(variables.$baseVars, "inputgrey");
                font-size: 85%;


                &:hover{
                    cursor: pointer;
                    background: map-get(variables.$baseVars, "icongrey");
                    color: map-get(variables.$baseVars, "color");
                }
            }

            &-form{
                width: 100%;
                display: flex;
                justify-content: start;
                align-items: center;
                padding: 0.4rem 0;
                border-top: 0.1rem solid rgba(map-get(variables.$baseVars, "color"), 0.2);
            }

            &-signout{
                background: none;
                border: none;
                width: 100%;
                text-align: start;
                padding: 0.4rem 1rem;
                font-family: inherit;
                font-size: 85%;
                text-decoration: none;
                color: map-get(variables.$baseVars, "inputgrey");


                &:hover{
                    cursor: pointer;
                    background: map-get(variables.$baseVars, "icongrey");
                    color: map-get(variables.$baseVars, "color");
                }
            }
        }

    }
}