@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.images{
    width: 100%;
    @include mixins.flexBox;
    flex-direction: column;
    gap: 2rem;

    &__wrapper{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__item{
        position: relative;
        width: 24rem;
        height: 20rem;

        &:hover &--overlay{
            display: flex;
        }

        &--image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include mixins.flexBox;
            background: rgba(map-get(variables.$baseVars, "black"), 0.4);
            display: none;
        }
    }
}