@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.movies{
    width: 100%;
    @include mixins.flexBox;
    flex-direction: column;
    gap: 1rem;

    &__wrapper{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;
        gap: 1.2rem;
        // row-gap: 1.8rem;
    }

    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 8%;

        &--rating{
            @include mixins.flexBox;
            gap: 0.4rem;
            &-stars{
                width: 1.2rem;
                height: 0.8rem;
                background: url('/public/images/sprite.svg') no-repeat 0 -17rem;
            }
            &-like{
                width: 0.9rem;
                height: 0.8rem;
                background: url('/public/images/sprite.svg') no-repeat 0 -16rem;
            }
        }
    }
}


// .rating{
//     &__small{
//         &--0{
//             width: 0;
//         }
//     }
//     &__small{
//         &--1{
//             width: 0.8rem;
//             background-position: -4.5rem -17rem;
//         }
//     }
//     &__small{
//         &--2{
//             width: 0.8rem;
//         }
//     }
//     &__small{
//         &--3{
//             width: 1.7rem;
//             background-position: -3.6rem -17rem;
//         }
//     }
//     &__small{
//         &--4{
//             width: 1.7rem;
//         }
//     }
//     &__small{
//         &--5{
//             width: 2.6rem;
//             background-position: -2.7rem -17rem;
//         }
//     }
//     &__small{
//         &--6{
//             width: 2.6rem;
//         }
//     }
//     &__small{
//         &--7{
//             width: 3.5rem;
//             background-position: -1.8rem -17rem;
//         }
//     }
//     &__small{
//         &--8{
//             width: 3.5rem;
//         }
//     }
//     &__small{
//         &--9{
//             width: 4.5rem;
//             background-position: -0.8rem -17rem;
//         }
//     }
//     &__small{
//         &--10{
//             width: 4.4rem;
//         }
//     }
// }