@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.main__auth{
    @include mixins.flexBox;
    min-height: 100vh;
    padding: 20rem 40rem;
}

.auth{
    @include mixins.flexBox;
    width: 100%;
    height: 40rem;
    background: map-get(variables.$baseVars, "darkgrey");

    &__figure{
        background: map-get(variables.$baseVars, "bluegrey");
        width: 50%;
        height: 100%;
    }

    &__form{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 4rem;

        &--text{
            font-weight: 400;
            font-size: 110%;
            color: map-get(variables.$baseVars, "greycolor");
        }

        &--wrapper{
            @include mixins.flexBox;
            gap: 2rem
        }

        &--remember{
            @include mixins.flexBox;
            gap: 0.8rem;

            & label{
                font-size: 90%;
                color: map-get(variables.$baseVars, "greycolor");
                text-shadow: 0 -0.1rem 0 rgba(map-get(variables.$baseVars, "black"), 0.2);
            }

            // &-checkbox{
            //     appearance: none;
            //     width: 1.8rem;
            //     aspect-ratio: 1/1;
            //     border-radius: 0.2rem;
            //     background: map-get(variables.$baseVars, "authinput");
            //     box-shadow: inset 0 -0.1rem 0 map-get(variables.$baseVars, "color");
            // }

            // &-label{
            //     font-size: 90%;
            //     color: map-get(variables.$baseVars, "greycolor");
            //     text-shadow: 0 -0.1rem 0 rgba(map-get(variables.$baseVars, "black"), 0.2);
                
            // }
        }
    }
}