@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.main__auth{
    @include mixins.flexBox;
    min-height: 100vh;
    padding: 20rem 40rem;
}

.auth{
    @include mixins.flexBox;
    width: 100%;
    height: 40rem;
    background: map-get(variables.$baseVars, "darkgrey");

    &__figure{
        background: map-get(variables.$baseVars, "bluegrey");
        width: 50%;
        height: 100%;
    }

    &__form{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 4rem;

        &--text{
            font-weight: 400;
            font-size: 110%;
            color: map-get(variables.$baseVars, "greycolor");
        }

        &--item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 0.6rem;
            width: 100%;

            &-label{
                font-size: 80%;
            }

            &-input{
                width: 100%;
                border: none;
                background: map-get(variables.$baseVars, "authinput");
                color: map-get(variables.$baseVars, "blurcolor");
                border-radius: 0.4rem;
                font-size: 100%;
                padding: 0.6rem;
                box-shadow: inset 0 -0.1rem 0 map-get(variables.$baseVars, "color");
                font-family: inherit;

                &:focus{
                    outline: none;
                    background: map-get(variables.$baseVars, "color");
                    color: map-get(variables.$baseVars, "inputgrey");
                }
            }
        }

        &--wrapper{
            @include mixins.flexBox;
            gap: 2rem
        }

        &--remember{
            @include mixins.flexBox;
            gap: 0.8rem;

            &-checkbox{
                appearance: none;
                width: 1.8rem;
                aspect-ratio: 1/1;
                border-radius: 0.2rem;
                background: map-get(variables.$baseVars, "authinput");
                box-shadow: inset 0 -0.1rem 0 map-get(variables.$baseVars, "color");
            }

            &-label{
                font-size: 90%;
                color: map-get(variables.$baseVars, "greycolor");
                text-shadow: 0 -0.1rem 0 rgba(map-get(variables.$baseVars, "black"), 0.2);
                
            }
        }
    }
}